.title {
  color: #02ccba;
}

body {
  background-image: url("サイト背景.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

body {
width: 720px;
height: 1280px;
}

.class1{
  position: absolute;
  top:500px;
  left:300px;
}





720
